body.mobile-view {
  .discourse-theme--q {
    .container.posts {
      display: inherit;
    }
  }
  @media only screen and (orientation: landscape) {
    #main-outlet {
      padding: 1.5em;
    }
  }
}
