.discourse-theme--q .custom-footer {
  background-color: #101828;
  .first-box {
    width: 20%;
  }

  .second-box {
    .links {
      justify-content: flex-start;
      .list:nth-child(2) {
        li:nth-child(n + 6) {
          display: none;
        }
        @media (max-width: 600px) {
          li:nth-child(n + 6) {
            display: block;
          }
        }
      }

      .list:nth-child(3) {
        @media (max-width: 600px) {
          display: none;
        }
        > span {
          opacity: 0;
          font-size: 14px;
        }
      }

      li {
        margin: 0.5em 0.5em 0.5em 0;
        display: flex;
        align-items: center;
      }
    }
  }

  ul li.footer-section-link-wrapper {
    a {
      color: silver;
      font-size: 12px;
      line-height: 16px;

      &:hover {
        color: #9ff;
        text-decoration: underline;
      }
    }
  }
}
