<div class="home-logo-wrap">
  <a href="/">
    <img
      id="site-logo"
      class="logo-big"
      src="{{logoUrl}}"
      alt="QNAP Community"
    />
  </a>
  <a
    href="/"
    class="header-text"
    style="color: rgb(0, 116, 225); text-decoration: none; font-weight: bold;"
  >
    Community<sup style="color: rgb(255, 165, 0);" id="siteStatus"></sup>
  </a>
</div>